# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "videokojot"
  - package-ecosystem: "nuget"
    directories: 
      - "/NugetProjects" # Directory.Build.props
      - "/NugetProjects/EFCore.BulkExtensions.v8"
      - "/NugetProjects/EFCore.BulkExtensions.v8.Tests"
      - "/NugetProjects/EFCore.BulkExtensions.v8.MySql"
      - "/NugetProjects/EFCore.BulkExtensions.v8.PostgreSql"
      - "/NugetProjects/EFCore.BulkExtensions.v8.SQLite"
      - "/NugetProjects/EFCore.BulkExtensions.v8.SqlServer"
      - "/NugetProjects/EFCore.BulkExtensions.v9"
      - "/NugetProjects/EFCore.BulkExtensions.v9.Tests"
      - "/NugetProjects/EFCore.BulkExtensions.v9.MySql"
      - "/NugetProjects/EFCore.BulkExtensions.v9.PostgreSql"
      - "/NugetProjects/EFCore.BulkExtensions.v9.SQLite"
      - "/NugetProjects/EFCore.BulkExtensions.v9.SqlServer"
      - "/NugetProjects/EFCore.BulkExtensions.v10"
      - "/NugetProjects/EFCore.BulkExtensions.v10.Tests"
      - "/NugetProjects/EFCore.BulkExtensions.v10.MySql"
      - "/NugetProjects/EFCore.BulkExtensions.v10.PostgreSql"
      - "/NugetProjects/EFCore.BulkExtensions.v10.SQLite"
      - "/NugetProjects/EFCore.BulkExtensions.v10.SqlServer"
    schedule:
      interval: "weekly"
    reviewers:
      - "videokojot"
